*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header ul, footer ul{
  display: flex;
}

header ul li, footer ul li{
  list-style: none;
}
header ul li a, footer ul li a{
  text-decoration: none;
}


/*  UTILITY  */
.debug1{
  background-color: rgba(255, 0, 0, .5);
  border: 2px solid red;
}
.debug2{
  background-color: rgba(0, 255, 0, .5);
  border: 2px solid greenyellow;
}

/* trick per risolvere il problema delle ancore che finiscono dietro il menu fixed */
/* section::before{
  content: '';
  display: block;
  height: 50px;
  margin: -50px 0 0;
} */

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-center{
  align-items: center;
}

.btn{
  display: inline-block;
  color: #FFFFFF;
  background-color: #0061FF;
  padding: 5px 15px;
}

/*  HEADER  */

header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  padding: 0 30px;
  justify-content: space-between;
}

nav{
  font-weight: lighter;
}

header img.logo{
  vertical-align: center;
}

.menu{
  padding-right: 25px;
}

.menu ul li a, .menu ul li a{
  color: black;
  padding: 0 30px;
}


/*  JUMBO  */

.jumbotron{
  position: relative;

  padding-top: 80px;
  /* height: 736px; */
  background-color: #B4D0E7;
}

.jumbotron .box{
  padding-top: 100px;
}


.jumbotron h1{
  font-size: 80px;
  font-weight: 900;
}

.jumbotron .j-top{
  margin-top: 50px;
  margin-bottom: 50px;
}

.jumbotron .j-bottom .btn{
  margin: 40px 0;
}

.jumbotron .j-bottom .text{
  position: relative;
  width: 30%;
  line-height: 1.5rem;
}

.jumbotron .j-bottom .text:last-child p{
  margin-bottom: 60px;
}

.jumbotron img{
  width: 70%;
}

.jumbotron .j-bottom .text .arrow{
  position: absolute;
  left: 0;
  bottom: 20px;
}

.jumbotron .arrow{
  padding-top: 40px;

}

.jumbotron .arrow i{
  font-size: 50px;
  font-weight: bold;
}



/*  MAIN  */
main{
  height: 500px;
  background-color: blue;
}


/*  FOOTER  */

footer{
  height: 570px;
  background-color: #000000;
}
