*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header ul li, footer ul li{
  list-style: none;
}
header ul li a, footer ul li a{
  text-decoration: none;
}


/*  UTILITY  */
.debug1{
  background-color: rgba(255, 0, 0, .5);
  border: 2px solid red;
}
.debug2{
  background-color: rgba(0, 255, 0, .5);
  border: 2px solid greenyellow;
}

/* trick per risolvere il problema delle ancore che finiscono dietro il menu fixed */
/* section::before{
  content: '';
  display: block;
  height: 50px;
  margin: -50px 0 0;
} */

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-center{
  align-items: center;
}

.btn{
  display: inline-block;
  color: #FFFFFF;
  background-color: #0061FF;
  padding: 5px 15px;
}

/*  HEADER  */

header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  padding: 0 30px;
  justify-content: space-between;
}

nav{
  font-weight: lighter;
}


header img.logo{
  vertical-align: center;
}

.menu{
  padding-right: 25px;
}

.menu ul li a, .menu ul li a{
  color: black;
  padding: 0 30px;
}


/*  JUMBO  */

.jumbotron{
  position: relative;

  padding-top: 80px;
  /* height: 736px; */
  background-color: #B4D0E7;
}

.jumbotron .box{
  padding-top: 100px;
}


.jumbotron h1{
  font-size: 80px;
  font-weight: 900;
}

.jumbotron .j-top{
  margin-top: 50px;
  margin-bottom: 50px;
}

.jumbotron .j-bottom .btn{
  margin: 40px 0;
}

.jumbotron .j-bottom .text{
  position: relative;
  width: 30%;
  line-height: 1.5rem;
}

.jumbotron .j-bottom .text:last-child p{
  margin-bottom: 60px;
}

.jumbotron img{
  width: 70%;
}

.jumbotron .j-bottom .text .arrow{
  position: absolute;
  left: 0;
  bottom: 20px;
}

.jumbotron .arrow{
  padding-top: 40px;

}

.jumbotron .arrow i{
  font-size: 50px;
  font-weight: bold;
}



/*  MAIN  */
main{
  height: 500px;
  background-color: rgb(120, 120, 201);
}
main section{
  padding: 150px 40px;
}
main section h2{
  margin-bottom: 30px;
}

.box{
  padding-right: 50px;
}

.row .box span{
  padding-left: 10px;
}


.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.circle.fill{
  background-color: #0061FF;
}

.circle.empty{
  border: 1px solid #D0D0D3;
}

.circle.small{
  background-color: #ffffff;
  border-radius: 50%;
  height: .4rem;
  width: .4rem;
}


/*  FOOTER  */

footer{
  padding-top: 100px;
  color: white;
  height: 570px;
  background-color: #000000;
}
footer a{
  color: white;
}

.footer-top{
  justify-content: space-between;
  padding-bottom: 30px;
}

.col-menu h3{
  margin-bottom: 20px;
}

.col-menu li{
  margin-bottom: 15px;
}

.footer-bottom{
  border-top: 1px solid #FFFFFF;
  padding-top: 40px;
}

.footer-bottom .lang span{
  padding: 0 10px;
}
.footer-bottom .lang{
  align-items: center;
}